.home {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  background: url(../../images/figure.png) no-repeat 15%;
  background-size: contain;
  color: #fff;
  font-family: 'Jura', sans-serif;
}

.home-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.home-title {
  font-size: 3rem;
  writing-mode: vertical-rl;
  padding: 0 3vw;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.home-image {
  height: 100%;
  width: auto;
}
.home-body .ant-image > img {
  height: 100%;
  width: auto;
}

.home-tabs {
  width: 50%;
  color: #fff;
  font-family: 'Jura', sans-serif;
}

.home-tab {
  height: calc(100svh - 7rem);
  overflow: -webkit-scroll;
  overflow: -moz-scroll;
  overflow: -o-scroll;
  overflow: -ms-scroll;
  overflow: scroll;
  border: none;
}

@media screen and (max-width: 1200px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: contain;
    background-position: top;
  }
  .home-body {
    width: 100%;
    height: calc(100svh - 4rem);
  }
  .home-tabs {
    width: 100%;
    margin: 1rem 0;
  }
  .ant-tabs-right > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    height: calc(100svh - 4rem);
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .home {
    height: -webkit-fill-available;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-position: center;
  }
  .home-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .home-body .ant-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    min-height: calc(100svh - 4rem);
  }
  .home-body .ant-image > img {
    width: inherit;
    height: auto;
  }

  .home-title {
    font-size: 2rem;
  }
  .home-tabs {
    min-height: calc(100svh - 4rem);
    width: 100%;
    margin: 1rem 0;
  }
  .home-tab-title {
    display: none;
  }

  .ant-tabs-right > .ant-tabs-nav {
    min-width: 2rem;
  }
  .ant-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
  }
}
