.about {
  font-family: 'Jura', sans-serif;
  margin-top: 100px;
  padding: 20px;
  color: #fff;
}

.about h2 {
  font-size: 36px;
  text-align: center;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
}

.about-certificate {
  text-align: center;
  margin-top: 20px;
}

.about-education {
  text-align: center;
  margin-top: 20px;
}
