.experience {
  text-align: center;
  color: #fff;
  font-family: 'Jura', sans-serif;
}

.experience-title {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 10;
  font-size: 2rem;
  text-align: center;
}

.experience-body {
  padding: 1.5rem;
  overflow-y: auto;
  height: calc(100svh - 10.3rem);
}

.experience-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.experience .ant-card {
  width: 25vw;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  border: none;
}

.experience-card {
  padding: 0.5rem;
}

.experience-card .ant-card-head {
  min-height: auto;
}

.experience-card .ant-card-body {
  padding: 0.5rem;
}

.experience-description {
  font-size: 0.8rem;
  text-align: left;
}

.experience-companyAndperiod {
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .experience {
    min-height: calc(100svh - 4rem);
  }
  .experience-body {
    padding: 0.5rem;
    height: calc(100svh - 7.3rem);
  }
  .experience .ant-card {
    font-size: 0.7rem;
    width: 65vw;
  }
}
